/target
/frontend/node_modules
/frontend/build
/frontend/.svelte-kit
/*.db*
/docs
/*.md
/.DS_Store
**/.DS_Store
/data
/logs
/Justfile
/*.tgz
/.git
/.gitignore
/.gitlab-ci.yml
/.env
/.env.*
/config.yml
/config.yml-dev
/helm-chart
/docker-compose*.yml
/Dockerfile
/.claude
